#searchBar
    display: flex
    justify-content: space-between
    justify-items: center
    width: 95%
    margin: 20px auto
    border: 1px solid rgba(255,255,255,.12)
    border-radius: 10px
    padding: 0 20px
    box-shadow: 0 5px 15px 0 #222
    background-color: #424242

    mat-form-field
        mat-label
            display: flex
            align-items: center
        
