<div id="searchBar">
  <h3><span *ngIf="searchPlanet">Searching: {{ searchPlanet }}</span></h3>

  <mat-form-field>
    <mat-label><i class="material-icons">search</i> Search</mat-label>
    <input matInput [(ngModel)]="searchPlanet" (input)="findPlanet()">
  </mat-form-field>
</div>