<app-search-bar (eventSearch)="searchPlanet($event)"></app-search-bar>

<mat-spinner *ngIf="isLoading" class="matSpinner"></mat-spinner>
<div class="planetsList">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name. </th>
      <td mat-cell *matCellDef="let element" [ngClass]="setUnknownClass(element.name)"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef> Population. </th>
      <td mat-cell *matCellDef="let element" [ngClass]="setUnknownClass(element.population)"> {{element.population}} </td>
    </ng-container>

    <ng-container matColumnDef="rotation_period">
      <th mat-header-cell *matHeaderCellDef> Rotation period. </th>
      <td mat-cell *matCellDef="let element" [ngClass]="setUnknownClass(element.rotation_period)"> {{element.rotation_period}} <span *ngIf="hideUnit(element.rotation_period)">h</span></td>
    </ng-container>

    <ng-container matColumnDef="orbital_period">
      <th mat-header-cell *matHeaderCellDef> Orbital period. </th>
      <td mat-cell *matCellDef="let element" [ngClass]="setUnknownClass(element.orbital_period)"> {{element.orbital_period}} <span *ngIf="hideUnit(element.rotation_period)">days</span></td>
    </ng-container>

    <ng-container matColumnDef="Link">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button matTooltip="Details" mat-raised-button (click)="goToDetails(element)">
          <i class="material-icons">details</i> Details</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns">
    </tr>
    <tr (click)="getDetails(row)" mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{'active': selected == row}"></tr> 
  </table>
  <mat-paginator (page)="pageEvent = getServerData($event)" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [length]="totalCountPlanets"
    showFirstLastButtons></mat-paginator>
</div>