.planetsList
    position: relative
    width: 95%
    margin: 0 auto
    overflow: hidden
    border-radius: 10px
    box-shadow: 0 5px 15px 0 #222

    table
        width: 100%

        .active
            background-color: #303030
        .unknown
            color: #666

.matSpinner
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    z-index: 2

