<button mat-raised-button (click)="goBack()"><i class="material-icons">keyboard_backspace</i>BACK</button>
<mat-spinner *ngIf="isLoading" class="matSpinner"></mat-spinner>

<div class="details" *ngIf="planet">
  <div class="details__left">
    <mat-toolbar><i class="material-icons">info</i> General Info</mat-toolbar>
    <app-general-info [planet]="planet"></app-general-info>
  </div>

  <div class="details__right">
    <div class="details__right__top">
      <mat-toolbar><i class="material-icons">supervisor_account</i> Residents Info</mat-toolbar>
      <div class="details__right__top__content">
        <app-residents-info [planet]="planet"></app-residents-info>
      </div>
    </div>
    <div class="details__right__bottom">

      <mat-toolbar><i class="material-icons">ondemand_video</i>Films info</mat-toolbar>
      <app-films-info [planet]="planet"></app-films-info>
    </div>
  </div>
</div>