.details
    display: flex
    justify-content: space-around
    align-items: center
    width: 100%
    height: calc(100% - 36px)
        
    mat-toolbar
        i
            margin-right: 10px

    &__left, &__right
        display: block
        width: 45%
        height: 90%

    &__left
        background-color: #424242
        box-shadow: 0 5px 15px 0 #222
        border-radius: 10px
        overflow: hidden
        
    &__right
        display: flex
        justify-content: space-between
        flex-direction: column

        &__top, &__bottom
            width: 100%
            height: 49%
            background-color: #424242
            box-shadow: 0 5px 15px 0 #222
            border-radius: 10px
            overflow: hidden

            &__top
                &__content
                    width: 100%

.matSpinner
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

button
    i
        margin-right: 10px
        vertical-align: middle