<mat-drawer-container class="matDrawerContainer">
  <mat-drawer #drawer class="matDrawer" mode="side" opened>
    <app-side-bar></app-side-bar>
    <footer>
      create by: k.nawolski@gmail.com
    </footer>
  </mat-drawer>
  <mat-drawer-content class="matDrawerContent">
    <button class="toggleSideBar" (click)="drawer.toggle()">
      <mat-icon>compare_arrows</mat-icon>
    </button>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>