.matDrawerContainer
  width: 100%
  height: 100%
  border: 1px solid #555

  .matDrawer
    width: 25%
    position: realtive
    @media(min-width: 1920px) 
      width: 20%

    footer
      position: absolute
      bottom: 20px
      right: 10px
      width: 100%
      height: 10px
      padding: 10px
      text-align: right
      color: rgba(0,0,0,.5)
      border-top: 1px solid #666

  .matDrawerContent
    position: relative

    .toggleSideBar
      width: 0
      height: 0
      border-style: solid
      border-width: 30px 0 30px 30px
      border-color: transparent transparent transparent #424242
      background-color: transparent
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
      &:focus
        outline: none

      mat-icon
        position: absolute
        top: 50%
        left: -30px
        transform: translateY(-50%)