<!-- <mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label style="width: 50% !important">
            <i class="material-icons">
                info
            </i>

            Info Planet
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <i class="material-icons">
                list
            </i>
            Planets List
        </ng-template>
        <app-planets-list></app-planets-list>
    </mat-tab>
</mat-tab-group> -->

<app-selected-details></app-selected-details>