<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
  *ngIf="dataSource.data.length > 0" style="width: 100%">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name. </th>
    <td mat-cell *matCellDef="let element">{{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef> Height. </th>
    <td mat-cell *matCellDef="let element" [ngClass]="setUnknownClass(element.height)">{{element.height}} <span *ngIf="hideUnit(element.height)">cm</span> </td>
  </ng-container>
  <ng-container matColumnDef="mass">
    <th mat-header-cell *matHeaderCellDef> Mass. </th>
    <td mat-cell *matCellDef="let element" [ngClass]="setUnknownClass(element.mass)">{{element.mass}} <span *ngIf="hideUnit(element.mass)">kg</span></td>
  </ng-container>
  <ng-container matColumnDef="hair_color">
    <th mat-header-cell *matHeaderCellDef> Hair color. </th>
    <td mat-cell *matCellDef="let element" [ngClass]="setUnknownClass(element.hair_color)">{{element.hair_color}} </td>
  </ng-container>
  <ng-container matColumnDef="skin_color">
    <th mat-header-cell *matHeaderCellDef> Skin color. </th>
    <td mat-cell *matCellDef="let element" [ngClass]="setUnknownClass(element.skin_color)">{{element.skin_color}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns">
  </tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<ng-template *ngIf="dataSource.data.length == 0">
  <h1>brak danych o ludziach</h1>
</ng-template>