<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
  *ngIf="dataSource.data.length > 0" style="width: 100%">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title. </th>
    <td mat-cell *matCellDef="let element">{{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="director">
    <th mat-header-cell *matHeaderCellDef> Director. </th>
    <td mat-cell *matCellDef="let element" [ngClass]="setUnknownClass(element.director)">{{element.director}}</td>
  </ng-container>
  <ng-container matColumnDef="producer">
    <th mat-header-cell *matHeaderCellDef> Producer. </th>
    <td mat-cell *matCellDef="let element" [ngClass]="setUnknownClass(element.producer)">{{element.producer}} </td>
  </ng-container>
  <ng-container matColumnDef="release_date">
    <th mat-header-cell *matHeaderCellDef> Release Date. </th>
    <td mat-cell *matCellDef="let element" [ngClass]="setUnknownClass(element.release_date)">{{element.release_date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns">
  </tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<ng-template *ngIf="!dataSource && !isLoading">
  <h1>brak danych o ludziach</h1>
</ng-template>