<mat-list>
  <mat-list-item>Name: <strong>{{ planet.name }}</strong></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Rotation period: <strong>{{ planet.rotation_period }}</strong></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Orbital period: <strong>{{planet.orbital_period}}</strong></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Diameter: <strong>{{planet.diameter}}</strong></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Climate: <strong>{{planet.climate}}</strong></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Gravity: <strong>{{planet.gravity}}</strong></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Terrain: <strong>{{planet.terrain}}</strong></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Surface water: <strong>{{planet.surface_water}}</strong></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Population: <strong>{{planet.population}}</strong></mat-list-item>
  <mat-divider></mat-divider>
</mat-list>