<div class="details" *ngIf="planetDetails; else noSelectedPlanet">
  <div class="details__image">
    <span class="details__image__planet"></span>
  </div>

  <mat-list>
    <h2 mat-subheader>Details {{ planetDetails.name }}</h2>
    <mat-list-item>
      <h4 mat-line>Name</h4>
      <p mat-line>{{planetDetails.name}}</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Climate</h4>
      <p mat-line>{{ planetDetails.climate }}</p>
    </mat-list-item>

    <mat-list-item>
      <h4 mat-line>Rotation period</h4>
      <p mat-line>{{ planetDetails.rotation_period }}</p>
    </mat-list-item>
  </mat-list>
</div>

<ng-template #noSelectedPlanet>
  <div class="notSelected">
    <div class="notSelected__content">
      <div class="notSelected__content__icon">
        <i class="material-icons">scatter_plot</i>
      </div>
      <h3 class="notSelected__content__info">
        Select the planet for show short details
      </h3>
    </div>
  </div>
</ng-template>