.details
    height: 100%
    padding-top: 50px

    &__image
        display: block
        margin-bottom: 50px

        &__planet
            display: block
            margin: 0 auto
            width: 200px
            height: 200px
            background: rgb(2,0,36)
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)
            border-radius: 50%

.notSelected
    display: block
    width: 100%
    height: 100%

    &__content
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 100%

        &__icon
            text-align: center

            i
                font-size: 150px
                text-align: center

        &__info
            display: block
            width: 70%
            margin: 0 auto
            text-align: center
            text-transform: uppercase
